.userInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.profile-img {
  height: 50px;
  width: 50px;
}

.profile-name {
  font-family: 'Roboto';
  color: #12022f;
  font-size: 19px;
  font-weight: 600;
}

.profile-designation {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 15px;
  font-weight: 400;
}
